# Headers/Startup

In [1]:
import logging
import dotenv
from os import system
dotenv.load_dotenv()

import pandas as pd
from db_engines import wh_db as db, rprt_db
# for verifying DB updates

from datetime import datetime
tmstmp_fmt: str = r'%Y-%m-%d %H:%M:%S'
query_date_fmt: str = r'%Y-%m-%d'

from pathlib import Path

import pandas as pd
from pandas import Series as Ser, DataFrame as Df

import numpy as np
import re


def stamp() -> str:
    # print(f"\x1b[95m{datetime.now().strftime(tmstmp_fmt)}\x1b[0m")
    return f"\x1b[95m{datetime.now().strftime(tmstmp_fmt)}\x1b[0m"
    # return f"\x1b[95m{datetime.now().date().strftime(r'%Y.%m.%d')}\x1b[0m"

today: str = datetime.now().strftime(query_date_fmt)


print(stamp())
skip_hs = True

2022-11-01 11:54:15

In [2]:
date_min: str = '2022-10-28'  # yesterday or fri before mon
date_lmt: str = '2022-10-31'  # usually today

In [3]:
# TODO: SCRIPT CHECKING MTIMES FOR SUBSCRIPTION FILES TO VERIFY THEY'RE FLOWING

In [13]:
# LOAD PM PHONE NUMBERS
pm_phone: Df
with rprt_db.connect() as conn:
    pm_phone = pd.read_sql_query(
        sql="""--sql
            SELECT phone_dir FROM dim_phone
        """.replace('--sql\n', ''),
        con=conn
    )
pm_phone: list[int] = list(pm_phone['phone_dir'])

In [12]:
# check for active connections, else raise exception and bail
from db_engines import wh_db, mms_db, check_connection, MySQL_OpErr
print(stamp())

for d in wh_db, mms_db:
    try:
        check_connection(d)
    except MySQL_OpErr:
        raise Exception(f"\x1b[91mSEE BELOW/ABOVE\x1b[0m\n")
    else:
        pass

del wh_db, mms_db, check_connection, MySQL_OpErr

2022-10-31 14:26:28
Checking Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr) -->
	('Hello There',)
--> Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr) ✔️

Checking Engine(mysql+mysqldb://evan:***@127.0.0.1:3306/dmp) -->
	('Hello There',)
--> Engine(mysql+mysqldb://evan:***@127.0.0.1:3306/dmp) ✔️

# ETL Scripts

## Dim Tbls

## Fact Tbls

In [15]:
# att from mms MySQL
%run ./etl_mms_att.py
%run ./etl_af.py

Successfully loaded att_data to Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr)
Successfully loaded af_message_data to Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr)

# Queries

In [23]:
# print(*[i for i in pm_phone], sep=', ')
ph_not_in: str = ', '.join([str(i) for i in pm_phone])

'2242963812, 2242762931, 2242762939, 2249445955, 2242762962, 2242762943, 2242762923, 2242762989, 2242762929, 2249445953, 2242762952, 2242762951, 2242762992, 2242762960, 2242762964, 2242762940, 2242762972, 2242762925, 2242762953, 2242762924, 2242762933'

In [20]:
def query_export(query_: str, out_: Path):
    df_: Df
    with db.connect() as conn:
        df_ = pd.read_sql_query(query_, conn)
    
    ts: str = datetime.now().strftime(tmstmp_fmt) [0: 10].replace('-', '')

    df_.to_csv(out_, index=False, encoding='utf-8')
    return

In [21]:
# CONSTRUCT QUERY FOR ANSWER FIRST DATA
af_msg_query: str = """--sql
    WITH
        m AS (
            SELECT *
            FROM af_message_data
            WHERE
                connected < '{date_lmt}'
                AND
                connected >= '{date_min}'
                AND
                callerid NOT IN ({not_in})
        )
    SELECT
        acct,
        practice_id,
        callerid,
        COUNT(connected) AS calls,
        -- ONLY SHOW UNIQUE NAME AND PHONE NUMBER PER CALLERID/ACCT
        ARRAY_REMOVE(ARRAY_AGG(DISTINCT(REPLACE(phone, '-', '')::BIGINT))::BIGINT[], NULL) AS phone,
        ARRAY_REMOVE(ARRAY_AGG(DISTINCT(caller_name)), NULL) AS caller_name,
        -- AGG ALL REFERENCE (messages)
        ARRAY_REMOVE(ARRAY_AGG(reference), NULL) AS reference,
        ARRAY_REMOVE(ARRAY_AGG(history), NULL) AS history,
        ARRAY_REMOVE(ARRAY_AGG(dispo), NULL) AS dispo
    FROM m
    -- ignore dupes within same account from same caller
    GROUP BY acct, practice_id, callerid
    -- EMPTY TEXT ARRAY IF ALL NULLS REMOVED
    {having}
    ; -- {cmnt}
""".replace('--sql', '')

## ATT

Phone numbers that don't match any AF message caller ids.

In [22]:
query = f"""--sql
    WITH
        p AS (
            SELECT *
            FROM att_data
            WHERE
                connected < '{date_lmt}'
                AND
                connected >= '{date_min}'
        ),
        m AS (
            SELECT *
            FROM af_message_data
            WHERE
                connected < '{date_lmt}'
                AND
                connected >= '{date_min}'
        ),
        joined AS (
            SELECT
                m.callerid,
                array_agg(p.id) AS att_data_id,
                array_agg(m.recording_id) AS messages
            FROM
                m LEFT JOIN p ON m.callerid = p.number_orig
            GROUP BY m.callerid
        )
    SELECT
        number_orig,
        number_dial,
        number_term
    FROM p
    WHERE id NOT IN (SELECT UNNEST(att_data_id) FROM joined)
    GROUP BY number_orig, number_dial, number_term
    ; -- ATT CALLS NOT IN ANSWER FIRST CALLER ID
""".replace('--sql', '')

df_att_extras: Df
with db.connect() as conn:
    df_att_extras = pd.read_sql_query(query, conn)

ts: str = datetime.now().strftime(tmstmp_fmt)[0:10].replace('-', '')

In [17]:
df_att_extras

Empty DataFrame
Columns: [number_orig, number_dial, number_term]
Index: []

## AF Discards

AF message callerids/accts with no message

In [10]:
having: str = "--sql\n HAVING ARRAY_REMOVE(ARRAY_AGG(reference), NULL) = ARRAY[]::TEXT[]".replace('--sql\n ', '')
cmnt: str = 'ANSWER FIRST DISCARDED MESSAGES'

query = af_msg_query.format(
        having=having,
        cmnt=cmnt,
        date_min=date_min,
        date_lmt=date_lmt
    )


df_af_blank: Df
with db.connect() as conn:
    df_af_blank = pd.read_sql_query(query, conn)

df_af_blank['practice_id'] = df_af_blank['practice_id'].fillna(0).astype('int16')
ts: str = datetime.now().strftime(tmstmp_fmt)[0:10].replace('-', '')

In [11]:
df_af_blank

,acct,practice_id,callerid,calls,phone,caller_name,reference,history,dispo
0,6933,0,2034144979,2,[],[],[],[],[]
1,6933,0,2242762962,10,[],"[Bruce, Bruce Boston, Bruce Prime Media Network]",[],[],[]
2,6933,0,2404185107,1,[],[],[],[],[]
3,6933,0,3463944456,1,[],[],[],[],[]
4,6933,0,3472420379,1,[],[],[],[],[]
5,6933,0,3472828412,1,[],[],[],[],[]
6,6933,0,3476834361,1,[],[],[],[],[]
7,6933,0,6314561162,1,[],[],[],[],[]
8,6933,0,6315232094,1,[],[],[],[],[]
9,6933,0,6463874885,1,[],[],[],[],[]
10,6933,0,7184147518,1,[],[],[],[],[]
11,6933,0,7187913862,1,[],[],[],[],[]
12,6933,0,7242573732,1,[],[],[],[],[]
13,6933,0,7868590355,2,[],[],[],[],[]
14,6933,0,9174455253,1,[],[],[],[],[]
15,6933,0,9732042112,1,[],[Alan K.],[],[],[]
16,6933,0,9737687389,1,[],[],[],[],[]
17,6933,0,9782655863,1,[],[],[],[],[]
18,7930,35,3013854217,1,[5712245152],[Marsha Reynolds Beale],[],[\r\n[RAC 10/28/2022 10:39 AM] Dialed Pro Adju...,[10/28 10:40A Email - Sent Email to: Dean]
19,7930,35,7574670998,1,[7574670998],[Audrey Dennis],[],[\r\n[JPR 10/28/2022 1:11 PM] Dialed Pro Adjus...,[10/28 1:12P Email - Sent Email to: Dean]
20,7930,35,7577497991,1,[7577497991],[Barbara Nellum],[],[\r\n[RAC 10/28/2022 2:33 PM] Dialed Pro Adjus...,[10/28 2:34P Email - Sent Email to: Dean]
21,7930,0,2025542152,1,[],[],[],[],[]
22,7930,0,2242762962,10,[],[Bruce],[],[],[]
23,7930,0,4143937554,1,[],[],[],[],[]
24,7930,0,4147222722,1,[],[],[],[],[]
25,9816,0,2242762962,5,[],[Bruce],[],[],[]
26,9816,0,3237176963,1,[],[Helen Jonah],[],[],[]
27,9816,0,7579370462,1,[],[],[],[],[]

## AF Messages

AF message callerids/accts with messages

In [12]:
having: str = "--sql\n HAVING ARRAY_LENGTH(ARRAY_REMOVE(ARRAY_AGG(reference), NULL), 1) != 0"
cmnt: str = 'ANSWER FIRST MESSAGES'

query = af_msg_query.format(
    having=having,
    cmnt=cmnt,
    date_min=date_min,
    date_lmt=date_lmt
)

df_af: Df
with db.connect() as conn:
    df_af = pd.read_sql_query(query, conn)

df_af['practice_id'] = df_af['practice_id'].fillna(0).astype('int16')
ts: str = datetime.now().strftime(tmstmp_fmt)[0:10].replace('-', '')

In [13]:
df_af

,acct,practice_id,callerid,calls,phone,caller_name,reference,history,dispo
0,6933,191,3479025969,1,[9178907508],[Ethan Dunn],[Caller would like more information.],[\r\n[TLC 10/29/2022 7:02 PM] Sending emails t...,[10/29 7:02P Email - Sent Email to: Dean]
1,6933,191,4752362809,1,[4752362809],[Gerardo Brown],[Please call.],[\r\n[LMS 10/30/2022 6:50 PM] Sending emails t...,[10/30 6:50P Email - Sent Email to: Dean]
2,6933,191,6462346251,1,[6462346251],[Spencer Cargle],[He is calling about ED problems he has.],[\r\n[JAL 10/30/2022 4:06 PM] Sending emails t...,[10/30 4:06P Email - Sent Email to: Dean]
3,6933,191,9178213104,1,[9178213104],[Winston Casanova],[He is calling to get more information.],[\r\n[BBL 10/30/2022 6:34 PM] Sending emails t...,[10/30 6:34P Email - Sent Email to: Dean]
4,6933,193,9733923483,1,[9733923483],[Steven Johnson],[Caller is requesting a call back.],[\r\n[KRR 10/30/2022 12:16 PM] Sending emails ...,[10/30 12:16P Email - Sent Email to: Dean]
5,6933,0,8327255815,1,[8327255815],[James Hayford],[He has been using our product. Tomorrow is hi...,[],[10/28 4:51P Email - Sent Email to: Dean]
6,7930,34,4143343970,1,[4143343970],[Afrim Dzelili],[I am calling in regards to my neuropathy],[\r\n[AMT 10/28/2022 5:45 PM] Sending emails t...,[10/28 5:45P Email - Sent Email to: Dean]
7,7930,35,5713313870,1,[5713313870],[Kevin Twiss],[The caller would like to set up an initial co...,[\r\n[PRA 10/29/2022 12:55 PM] Sending emails ...,[10/29 12:55P Email - Sent Email to: Dean]
8,7930,35,7574979244,1,[7574979244],[Dave Taggart],[He is interested in the treatment options ava...,[],[10/28 6:44A Email - Sent Email to: Dean]
9,9816,0,2628804982,1,[2628804982],[Laura Hush],[She wanted to ask about the neurostopy test.],[],[10/28 1:18P Email - Sent Email to: Dean Tucc...
10,11888,0,7044188917,1,[7044188917],[Burnette Hartgrove],[They are calling to get information on our se...,[],[10/28 11:39A Email - Sent Email to: Dean\r\n...

In [53]:
master_join_sql: str = f"""--sql
WITH
    p AS (
        SELECT *
        FROM att_data
        WHERE
            connected < '{date_lmt}'
            AND
            connected >= '{date_min}'
    ),
    m AS (
        SELECT *
        FROM af_message_data
        WHERE
            connected < '{date_lmt}'
            AND
            connected >= '{date_min}'
    )
""".replace('--sql', '') + """--sql
SELECT
    -- COUNT(p.created) AS mms_createds,
    -- these 6 are the identifying fields, the rest are aggregated
   --
   p.number_orig AS att_callerid,
   m.callerid AS af_callerid,
   p.number_dial AS toll,
   p.number_term AS att_fwd,
   --
    -- this could be useful, some ATT records have a zero duration,
    -- summing this agg may be useful for filtering those out
    -- count att connection timestamps as calls, shouldn't have nulls
    COUNT(p.connected) AS att_connections,
    array_agg(p.duration) AS att_durations,
    array_agg(DISTINCT(p.id)) AS att_ids,
    -- att joined calls will have an AF connection ts,
    -- but counts of nulls will resolve to zero,
    -- this will resolve zero counts to null
   --
   m.acct AS af_acct,
   --
    NULLIF(array_remove(array_agg(DISTINCT(m.recording_id)), NULL), '{}')
        af_ids,
    NULLIF(array_remove(array_agg(DISTINCT(m.practice_id)), NULL), '{}')
        practice_id,
    NULLIF(COUNT(m.connected), 0)
        af_connections,
    -- COALESCES TO TRUE IF ANY WERE TRUE
    CASE WHEN NULLIF(COUNT(m.connected), 0) IS NOT NULL
        THEN ARRAY_REPLACE(array_agg(m.call_for_ad), NULL, FALSE) @> ARRAY[TRUE]
        ELSE NULL
        END
    call_for_ad,
    -- 
    -- the rest are just lists of existing results
    NULLIF(array_remove(array_agg(DISTINCT(m.besttime)), NULL), '{}')
        af_msg_besttimes,
    NULLIF(array_remove(array_agg(m.sent_emails_to), NULL), '{}')
        af_msg_emailed,
    NULLIF(array_remove(array_agg(DISTINCT(m.caller_name)), NULL), '{}')
        af_msg_caller_name,
    NULLIF(array_remove(array_agg(DISTINCT(m.phone)), NULL), '{}')
        af_msg_given_phones,
    NULLIF(array_remove(array_agg(DISTINCT(m.email)), NULL), '{}')
        af_msg_given_emails,
    NULLIF(array_remove(array_agg(DISTINCT(m.addr_state)), NULL), '{}')
        af_msg_given_addr_state,
    NULLIF(array_remove(array_agg(m.reference), NULL), '{}')
        af_msg_bodies,
    NULLIF(array_remove(array_agg(m.dispo), NULL), '{}')
        af_dispos,
    NULLIF(array_remove(array_agg(m.history), NULL), '{}')
        af_hists


FROM
    p FULL OUTER JOIN m
    on m.callerid =  p.number_orig
GROUP BY
    att_callerid,
    af_callerid,
    toll,
    af_acct,
    att_fwd
;""".replace('--sql', '')

In [54]:
with db.connect() as conn:
    mj_df = pd.read_sql_query(master_join_sql, conn).convert_dtypes()
mj_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   att_callerid             165 non-null    Int64
 1   af_callerid              126 non-null    Int64
 2   toll                     165 non-null    Int64
 3   att_fwd                  165 non-null    Int64
 4   att_connections          166 non-null    Int64
 5   att_durations            166 non-null    object
 6   att_ids                  166 non-null    object
 7   af_acct                  126 non-null    Int64
 8   af_ids                   126 non-null    object
 9   practice_id              11 non-null     object
 10  af_connections           126 non-null    Int64
 11  call_for_ad              126 non-null    boolean
 12  af_msg_besttimes         1 non-null      object
 13  af_msg_emailed           11 non-null     object
 14  af_msg_caller_name       106 non-null    object
 15  af_msg_given_phones      14 non-null     object
 16  af_msg_given_emails      4 non-null      object
 17  af_msg_given_addr_state  12 non-null     object
 18  af_msg_bodies            11 non-null     object
 19  af_dispos                14 non-null     object
 20  af_hists                 10 non-null     object
dtypes: Int64(7), boolean(1), object(13)
memory usage: 27.5+ KB

In [55]:
file_lab = 'master_join'
# xl = pd.ExcelWriter(f'{file_lab}.xlsx', 'openpyxl', mode='w')
# mj_df.to_excel(xl, 'med_master_join', index=False)
mj_df.to_csv(f'{file_lab}.csv', index=False, encoding='utf-8')

In [211]:
billables: Df = (
    mj_df.copy()
    .loc[mj_df['af_dispos'].notna()]
)

billables.af_hists = (
    billables.af_hists
    .apply(
        lambda x:
            '\n'.join([str(s).replace('\r', '') for s in x])
            if x else x
        )
)
billables.af_dispos = (
    billables.af_dispos
    .apply(
        lambda x:
            '\n'.join([str(s).replace('\r', '') for s in x])
            if x else x
        )
)

In [57]:
text_cols: list[str] = [
    'att_callerid',
    'af_callerid',
    'toll',
    'att_fwd',
    'af_acct',
    'af_ids',
    'practice_id',
    'af_connections',
    'call_for_ad',
    'af_msg_besttimes',
    'af_msg_emailed',
    'af_msg_caller_name',
    'af_msg_given_phones',
    'af_msg_given_emails',
]

for_text: Df = (
    mj_df.copy()
    .loc[
        mj_df['af_msg_bodies'].isna(),
        text_cols
    ]
    
)
for_text['phone_number'] = for_text['att_callerid'].fillna(for_text['af_callerid'])

text_cols: list[str] = [
    'phone_number',
    'toll',
    'att_fwd',
    'af_acct',
    'af_ids',
    'practice_id',
    'af_connections',
    'call_for_ad',
    'af_msg_besttimes',
    'af_msg_emailed',
    'af_msg_caller_name',
    'af_msg_given_phones',
    'af_msg_given_emails',
]
for_text = for_text[text_cols]

In [219]:
date_lmt_parts: list[str] = date_lmt.split('-')
date_max_fn: str = (
    datetime(
        year=int(date_lmt_parts[0]),
        month=int(date_lmt_parts[1]),
        day=int(date_lmt_parts[2]) - 1,
    ).strftime(query_date_fmt.replace('-', ''))
)
del date_lmt_parts
date_min_fn: str = date_min.replace('-', '')

for d in billables, for_text:
    d['date_range'] = f"{date_min_fn}-{date_max_fn}"

del date_max_fn, date_min_fn

In [220]:
billables.to_csv(f'billables.csv', index=False, encoding='utf-8')

In [221]:
for_text.to_csv(f'for_text.csv', index=False, encoding='utf-8')