# Headers/Startup

In [48]:
import logging
import traceback

import dotenv
from os import environ as os_environ
from sys import stdout
dotenv.load_dotenv()

import pandas as pd
from db_engines import wh_db as db, rprt_db, mms_db, wh_conn_str
# for verifying DB updates

from datetime import datetime, date, timedelta
tmstmp_fmt: str = r'%Y-%m-%d %H:%M:%S'
query_date_fmt: str = r'%Y-%m-%d'

from pathlib import Path

import pandas as pd
from pandas import Series as Ser, DataFrame as Df

import numpy as np
import re

from threading import Thread

def stamp() -> str:
    # print(f"\x1b[95m{datetime.now().strftime(tmstmp_fmt)}\x1b[0m")
    return f"\x1b[95m{datetime.now().strftime(tmstmp_fmt)}\x1b[0m"
    # return f"\x1b[95m{datetime.now().date().strftime(r'%Y.%m.%d')}\x1b[0m"

today: str = datetime.now().strftime(query_date_fmt)


print(stamp())
skip_hs = True

2022-11-15 10:58:23

In [12]:
log_fmt_date_strm = r'%y%m%d|%H%M'
log_fmt_date_file = r'%Y-%m-%d %H:%M:%S'
log_fmt_file = '%(asctime)s [%(name)s,%(funcName)s,%(module)s::%(levelname)s]>>%(message)s'
log_fmt_strm = '\x1b[32m%(asctime)s[%(name)s %(levelname)s]\x1b[0m >> %(message)s'

logger = logging.getLogger(os_environ['PRMDIA_MM_LOGNAME'])
hdlr = logging.StreamHandler(stdout)
hdlr.setFormatter(logging.Formatter(fmt=log_fmt_strm, datefmt=log_fmt_date_strm))
hdlr.setLevel(logging.DEBUG)
logger.addHandler(hdlr)
logger.setLevel(logging.DEBUG)

In [13]:
# yr_min, month_min, day_min = 2022, 10, 28  # yesterday or fri before mon
# yr_lmt, month_lmt, day_lmt = 2022, 11, 1  # usually today

# min_date: datetime
# lmt_date: datetime
# min_date, lmt_date = (
#         datetime(year=y, month=m, day=d).date()
#         for y, m, d in
#         (
#             (yr_min, month_min, day_min),
#             (yr_lmt, month_lmt, day_lmt)
#         )
#     )

# yr_lmt, month_lmt, day_lmt = 2022, 11, 1  # usually today
# lmt_date: datetime = datetime(year=yr_lmt, month=month_lmt, day=date_lmt)
lmt_date = datetime.now().date()

day_range = 11
min_date: datetime = lmt_date - timedelta(days=day_range)
max_date: datetime = lmt_date - timedelta(days=1)


date_min: str
date_lmt: str
date_max: str
date_min, date_lmt, date_max = (
        d.strftime(query_date_fmt)
        for d in (min_date, lmt_date, max_date)
    )
date_min_strrep, date_lmt_strrep, date_max_strrep = (
        s.replace('-', '.')
        for s in
        (date_min, date_lmt, date_max)
    )
logger.debug(f">={date_min_strrep}, < {date_lmt_strrep}, <= {date_max_strrep}")

221115|1045[med_mstr DEBUG] >> >=2022.11.04, < 2022.11.15, <= 2022.11.14
221115|1045[med_mstr DEBUG] >> >=2022.11.04, < 2022.11.15, <= 2022.11.14

In [14]:
client_map: Df = (
    pd.ExcelFile('AFDir.xlsx')
    .parse(
        'ClientMap',
        usecols=[
            'af_practice',
            'af_rec_id',
            'af_acct',
            'lead_ref_id',
            'lead_company'
        ]
    )
    .convert_dtypes())

client_map = client_map.loc[pd.notna(client_map['lead_ref_id'])]
logger.debug('-->')
if logger.level == logging.DEBUG:
    client_map.info()

221115|1045[med_mstr DEBUG] >> -->
221115|1045[med_mstr DEBUG] >> -->
<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 0 to 39
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   af_practice   35 non-null     string
 1   af_rec_id     35 non-null     Int64
 2   af_acct       35 non-null     Int64
 3   lead_ref_id   35 non-null     Int64
 4   lead_company  35 non-null     string
dtypes: Int64(3), string(2)
memory usage: 1.7 KB

In [15]:
# TODO: SCRIPT CHECKING MTIMES FOR SUBSCRIPTION FILES TO VERIFY THEY'RE FLOWING

In [16]:
# LOAD PM PHONE NUMBERS
pm_phone: Df
with rprt_db.connect() as conn:
    pm_phone = pd.read_sql_query(
        sql="""--sql
            SELECT phone_dir FROM dim_phone
        """.replace('--sql\n', ''),
        con=conn
    )
pm_phone: list[int] = list(pm_phone['phone_dir'])

# create string for query
# print(*[i for i in pm_phone], sep=', ')
ph_not_in: str = ', '.join([str(i) for i in pm_phone])

log_msg = ', '.join([str(i) for i in pm_phone])
logger.debug(f"PM phone nums excluded: \n{log_msg}")
del log_msg

with db.connect() as conn:
    conn.execute(Path('master_join.pgsql').read_text())

221115|1045[med_mstr DEBUG] >> PM phone nums excluded:
2242963812, 2242762931, 2242762939, 2249445955, 2242762962, 2242762943, 2242762923, 2242762989, 2242762929, 2249445953, 2242762952, 2242762951, 2242762992, 2242762960, 2242762964, 2242762972, 2242762925, 2242762953, 2242762933, 2249445956
221115|1045[med_mstr DEBUG] >> PM phone nums excluded:
2242963812, 2242762931, 2242762939, 2249445955, 2242762962, 2242762943, 2242762923, 2242762989, 2242762929, 2249445953, 2242762952, 2242762951, 2242762992, 2242762960, 2242762964, 2242762972, 2242762925, 2242762953, 2242762933, 2249445956

In [17]:
# check for active connections, else raise exception and bail
from db_engines import MySQL_OpErr, check_connection
print(stamp())

for d in db, rprt_db, mms_db:
    try:
        check_connection(d)
    except MySQL_OpErr:
        raise Exception(f"\x1b[91mSEE BELOW/ABOVE\x1b[0m\n")
    else:
        pass

del MySQL_OpErr, check_connection

2022-11-15 10:45:18
221115|1045[med_mstr INFO] >> Checking Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr) -->
221115|1045[med_mstr INFO] >> Checking Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr) -->
221115|1045[med_mstr INFO] >> 	('Hello There',)
221115|1045[med_mstr INFO] >> 	('Hello There',)
221115|1045[med_mstr INFO] >> --> Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr) ✔️

221115|1045[med_mstr INFO] >> --> Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr) ✔️

221115|1045[med_mstr INFO] >> Checking Engine(postgresql://pmrprt:***@127.0.0.1:55432/rprt) -->
221115|1045[med_mstr INFO] >> Checking Engine(postgresql://pmrprt:***@127.0.0.1:55432/rprt) -->
221115|1045[med_mstr INFO] >> 	('Hello There',)
221115|1045[med_mstr INFO] >> 	('Hello There',)
221115|1045[med_mstr INFO] >> --> Engine(postgresql://pmrprt:***@127.0.0.1:55432/rprt) ✔️

221115|1045[med_mstr INFO] >> --> Engine(postgresql://pmrprt:***@127.0.0.1:55432/rprt) ✔️

221115|1045[med_mstr INFO] >> Checking Engine(mysql+mysqldb://evan:***@127.0.0.1:3306/dmp) -->
221115|1045[med_mstr INFO] >> Checking Engine(mysql+mysqldb://evan:***@127.0.0.1:3306/dmp) -->
221115|1045[med_mstr INFO] >> 	('Hello There',)
221115|1045[med_mstr INFO] >> 	('Hello There',)
221115|1045[med_mstr INFO] >> --> Engine(mysql+mysqldb://evan:***@127.0.0.1:3306/dmp) ✔️

221115|1045[med_mstr INFO] >> --> Engine(mysql+mysqldb://evan:***@127.0.0.1:3306/dmp) ✔️

# ETL Scripts

## Dim Tbls

## Fact Tbls

In [18]:
# ETL FROM REPOS
from etl_att_repos import main as att
from etl_af_repos import main as af
# %run ./etl_att_repos.py
# %run ./etl_af_repos.py
# att()
# af()

att_thr = Thread(target=att)
af_thr = Thread(target=af)
threads = (
        af_thr,
        att_thr,
    )

for t in threads:
    t.start()

for t in threads:
    t.join()

221115|1045[med_mstr INFO] >> Successfully loaded att_data to Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr)
221115|1045[med_mstr INFO] >> Successfully loaded att_data to Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr)
221115|1045[med_mstr INFO] >> Successfully loaded af_message_data to Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr)
221115|1045[med_mstr INFO] >> Successfully loaded af_message_data to Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr)

In [24]:
# create view of master join
xtra_sql_file = Path('master_join.pgsql').name
psql_cmd: str = f"psql --file={xtra_sql_file} {wh_conn_str}"

!{psql_cmd}

CREATE VIEW

# Queries

In [53]:
with db.connect() as conn:
    mj_df = (
        pd.read_sql_query(
            """--sql
                SELECT * FROM med_master_join;
            """.replace('--sql ', ''),
            conn
        )
        .convert_dtypes()
    )
# for c in mj_df:
    #     print(c, mj_df[c].dtype, sep='\n')
    #     try:
    #         mj_df[c].map({None: pd.NA}, na_action='ignore')
    #         mj_df[c] = mj_df[c].map({None: pd.NA}, na_action='ignore')
    #     except TypeError:
    #         print(traceback.format_exc())

In [ ]:
mj_df.to_csv('medical_master.master_join.csv', encoding='utf-8', index=False)

In [54]:
split_truth: Ser = mj_df.copy()['af_client'].notna()

mj_df.loc[split_truth, ['DELIVERY_CODE']] = 'AF'
mj_df.loc[split_truth, ['DELIVERY_DATE']] = mj_df.loc[split_truth, ['af_connected']]

mj_df.loc[~split_truth, ['DELIVERY_CODE']] = pd.NA
mj_df.loc[~split_truth, ['DELIVERY_DATE']] = pd.NA

billables = (
        mj_df.copy()
        .loc[split_truth]
    )
bruce = (
        mj_df.copy()
        .loc[~split_truth]
    )

In [55]:
mj_df

,att_callerid,af_callerid,att_toll,att_acct_af,af_acct,af_ids,call_for_ad,af_practice_id,af_client,af_dispos,...,af_msg_caller_name,af_msg_given_phones,af_msg_given_emails,durations_sum,att_date,att_connected,af_date,af_connected,DELIVERY_CODE,DELIVERY_DATE
0,4438474955,4438474955,8002101493,6933,6933,[41234654],False,<NA>,<NA>,None,...,None,None,None,0 days 00:00:40,2022-11-14,2022-11-14 14:26:47+00:00,2022-11-14,2022-11-14 20:27:41+00:00,NaN,NaN
1,7573576389,7573576389,8006524135,6933,6933,[41234073],False,<NA>,<NA>,None,...,None,None,None,0 days 00:01:20,2022-11-14,2022-11-14 14:03:29+00:00,2022-11-14,2022-11-14 20:05:11+00:00,NaN,NaN
2,7863198282,7863198282,8004361225,6933,6933,[41226976],False,<NA>,<NA>,[11/14 9:49A Email - Sent Email to: Dean],...,[Michael Hill],[786-319-8282],None,0 days 00:02:47,2022-11-14,2022-11-14 09:46:19+00:00,2022-11-14,2022-11-14 15:49:01+00:00,NaN,NaN
3,9545588449,9545588449,8004521649,6933,6933,[41215721],False,<NA>,<NA>,None,...,None,None,None,0 days 00:00:10,2022-11-13,2022-11-13 04:52:35+00:00,2022-11-13,2022-11-13 10:53:04+00:00,NaN,NaN
4,2046639585,2046639585,8009166695,9816,9816,[41205917],False,<NA>,<NA>,[11/12 5:58A Email - Sent Email to: Dean Tucc...,...,[Mary-Ann Scarlette],[204-663-9585],None,0 days 00:05:50,2022-11-12,2022-11-12 04:52:57+00:00,2022-11-12,2022-11-12 11:58:39+00:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,3476065312,3476065312,8004521596,6933,6933,"[41101309, 41105028]",True,191,Manhattan Medical Associates – Manhattan Location,"[11/04 8:34P Email - Sent Email to: Dean, 11/...",...,[Shawn Farrar],[347-581-7126],None,0 days 00:12:08,2022-11-05,2022-11-05 10:50:52+00:00,2022-11-05,2022-11-05 01:34:23+00:00,AF,NaN
65,7135507478,7135507478,8004521596,6933,6933,[41107790],False,<NA>,<NA>,None,...,None,None,None,0 days 00:00:50,2022-11-05,2022-11-05 13:53:27+00:00,2022-11-05,2022-11-05 18:54:18+00:00,<NA>,NaN
66,3478850437,3478850437,8004521596,6933,6933,[41092724],False,<NA>,<NA>,None,...,None,None,None,0 days 00:00:10,2022-11-04,2022-11-04 12:11:19+00:00,2022-11-04,2022-11-04 17:11:46+00:00,<NA>,NaN
67,6317462373,6317462373,8004521596,6933,6933,[41100373],True,191,Manhattan Medical Associates – Manhattan Location,[11/04 6:17P Email - Sent Email to: Dean],...,[Akiaguiwe Goyounho],[631-746-2373],None,0 days 00:04:13,2022-11-04,2022-11-04 18:13:30+00:00,2022-11-04,2022-11-04 23:17:59+00:00,AF,NaN
68,8327255815,8327255815,8002101209,6933,6933,[41091775],False,<NA>,<NA>,[11/04 11:32A Email - Sent Email to: Dean],...,[James Hayford],[832-725-5815],None,0 days 00:04:19,2022-11-04,2022-11-04 11:28:36+00:00,2022-11-04,2022-11-04 16:32:53+00:00,<NA>,NaN