# Headers/Startup

In [24]:
import logging
import dotenv
from os import system
dotenv.load_dotenv()

import pandas as pd
from db_engines import wh_db as db
# for verifying DB updates

from datetime import datetime
tmstmp_fmt: str = r'%Y-%m-%d %H:%M:%S'
query_date_fmt: str = r'%Y-%m-%d'

from pathlib import Path

import pandas as pd
from pandas import Series as Ser, DataFrame as Df

import numpy as np


def stamp() -> str:
    # print(f"\x1b[95m{datetime.now().strftime(tmstmp_fmt)}\x1b[0m")
    return f"\x1b[95m{datetime.now().strftime(tmstmp_fmt)}\x1b[0m"
    # return f"\x1b[95m{datetime.now().date().strftime(r'%Y.%m.%d')}\x1b[0m"

today: str = datetime.now().strftime(query_date_fmt)


print(stamp())
skip_hs = True

2022-10-26 10:19:43

In [2]:
date_min: str = '2022-10-21'  # yesterday or fri before mon
date_lmt: str = '2022-10-24'  # usually today

In [3]:
# TODO SCRIPT CHECKING MTIMES FOR SUBSCRIPTION FILES TO VERIFY THEY'RE FLOWING

In [4]:
# check for active connections, else raise exception and bail
from db_engines import wh_db, mms_db, check_connection, MySQL_OpErr
print(stamp())

for d in wh_db, mms_db:
    try:
        check_connection(d)
    except MySQL_OpErr:
        raise Exception(f"\x1b[91mSEE BELOW/ABOVE\x1b[0m\n")
    else:
        pass

del wh_db, mms_db, check_connection, MySQL_OpErr

2022-10-26 10:11:22
Checking Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr) -->
	('Hello There',)
--> Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr) ✔️

Checking Engine(mysql+mysqldb://evan:***@127.0.0.1:3306/dmp) -->
	('Hello There',)
--> Engine(mysql+mysqldb://evan:***@127.0.0.1:3306/dmp) ✔️

# ETL Scripts

## Dim Tbls

## Fact Tbls

In [5]:
# att from mms MySQL
%run ./etl_mms_att.py
%run ./etl_af.py

Successfully loaded att_data to Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr)
Successfully loaded af_message_data to Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr)

In [6]:
"""--sql
-- Active: 1664298180406@@127.0.0.1@55432@medmstr
WITH
    p AS (
        SELECT *
        FROM att_data
        WHERE
            connected < '2022-10-24'
            AND
            connected >= '2022-10-21'
    ),
    m AS (
        SELECT *
        FROM af_message_data
        WHERE
            connected < '2022-10-24'
            AND
            connected >= '2022-10-21'
    ),
    joined AS (
        SELECT
            m.callerid, ARRAY_AGG(DISTINCT(p.id))
            AS att_data_id, ARRAY_AGG(DISTINCT(m.recording_id))
            AS message_ids
        FROM
            m
            LEFT JOIN
            p
            ON m.callerid = p.number_orig
        GROUP BY m.callerid
    )
SELECT * from joined
; -- ATT CALLS NOT IN ANSWER FIRST CALLER ID
"""

"--sql\n-- Active: 1664298180406@@127.0.0.1@55432@medmstr\nWITH\n    p AS (\n        SELECT *\n        FROM att_data\n        WHERE\n            connected < '2022-10-24'\n            AND\n            connected >= '2022-10-21'\n    ),\n    m AS (\n        SELECT *\n        FROM af_message_data\n        WHERE\n            connected < '2022-10-24'\n            AND\n            connected >= '2022-10-21'\n    ),\n    joined AS (\n        SELECT\n            m.callerid, ARRAY_AGG(DISTINCT(p.id))\n            AS att_data_id, ARRAY_AGG(DISTINCT(m.recording_id))\n            AS message_ids\n        FROM\n            m\n            LEFT JOIN\n            p\n            ON m.callerid = p.number_orig\n        GROUP BY m.callerid\n    )\nSELECT * from joined\n; -- ATT CALLS NOT IN ANSWER FIRST CALLER ID\n"

# Queries

In [7]:
def query_export(query_: str, out_: Path):
    df_: Df
    with db.connect() as conn:
        df_ = pd.read_sql_query(query_, conn)
    
    ts: str = datetime.now().strftime(tmstmp_fmt) [0: 10].replace('-', '')

    df_.to_csv(out_, index=False, encoding='utf-8')
    return

In [8]:
af_msg_query: str = """--sql
    WITH
        m AS (
            SELECT *
            FROM af_message_data
            WHERE
                connected < '{date_lmt}'
                AND
                connected >= '{date_min}'
        )
    SELECT
        acct,
        practice_id,
        callerid,
        COUNT(connected) AS calls,
        -- ONLY SHOW UNIQUE NAME AND PHONE NUMBER PER CALLERID/ACCT
        ARRAY_REMOVE(ARRAY_AGG(DISTINCT(REPLACE(phone, '-', '')::BIGINT))::BIGINT[], NULL) AS phone,
        ARRAY_REMOVE(ARRAY_AGG(DISTINCT(caller_name)), NULL) AS caller_name,
        -- AGG ALL REFERENCE (messages)
        ARRAY_REMOVE(ARRAY_AGG(reference), NULL) AS reference
    FROM m
    -- ignore dupes within same account from same caller
    GROUP BY acct, practice_id, callerid
    -- EMPTY TEXT ARRAY IF ALL NULLS REMOVED
    {having}
    ; -- {cmnt}
"""

## ATT

Phone numbers that don't match any AF message caller ids.

In [9]:
query = f"""--sql
    WITH
        p AS (
            SELECT *
            FROM att_data
            WHERE
                connected < '{date_lmt}'
                AND
                connected >= '{date_min}'
        ),
        m AS (
            SELECT *
            FROM af_message_data
            WHERE
                connected < '{date_lmt}'
                AND
                connected >= '{date_min}'
        ),
        joined AS (
            SELECT
                m.callerid,
                array_agg(p.id) AS att_data_id,
                array_agg(m.recording_id) AS messages
            FROM
                m
                LEFT JOIN
                p
                ON m.callerid = p.number_orig
            GROUP BY m.callerid
        )
    SELECT
        number_orig,
        number_dial,
        number_term
    FROM p
    WHERE id NOT IN (SELECT UNNEST(att_data_id) FROM joined)
    GROUP BY number_orig, number_dial, number_term
    ; -- ATT CALLS NOT IN ANSWER FIRST CALLER ID
"""

df_att_extras: Df
with db.connect() as conn:
    df_att_extras = pd.read_sql_query(query, conn)

ts: str = datetime.now().strftime(tmstmp_fmt)[0:10].replace('-', '')

In [10]:
df_att_extras

    number_orig  number_dial  number_term
0    9088872446   8004521596   3075095680
1    6785081059   8007495780   3074753552
2    6462760008   8004520236   3083044852
3    8482612876   8004521596   3075095680
4    8643807948   8005543775   3072249255
..          ...          ...          ...
59   8665427774   8009056878   3083301775
60   5744576010   8004266990   3073421716
61   9173371836   8004521596   3075095680
62   9177765860   8004521596   3075095680
63   3033962318   8002372199   3073424015

[64 rows x 3 columns]

## AF Discards

AF message callerids/accts with no message

In [11]:
having: str = "--sql\n HAVING ARRAY_REMOVE(ARRAY_AGG(reference), NULL) = ARRAY[]::TEXT[]"
cmnt: str = 'ANSWER FIRST DISCARDED MESSAGES'

query = af_msg_query.format(
        having=having,
        cmnt=cmnt,
        date_min=date_min,
        date_lmt=date_lmt
    )


df_af_blank: Df
with db.connect() as conn:
    df_af_blank = pd.read_sql_query(query, conn)

df_af_blank['practice_id'] = df_af_blank['practice_id'].fillna(0).astype('int16')
ts: str = datetime.now().strftime(tmstmp_fmt)[0:10].replace('-', '')

In [35]:
df_af_blank

,acct,practice_id,callerid,calls,phone,caller_name,reference
0,6933,0,2034495733,1,[],[],[]
1,6933,0,2036275034,1,[],[],[]
2,6933,0,2488736162,1,[],[],[]
3,6933,0,3472456899,1,[],[],[]
4,6933,0,3472852127,1,[],[],[]
5,6933,0,3473925479,1,[],[],[]
6,6933,0,3474789614,1,[],[],[]
7,6933,0,3474790158,1,[],[],[]
8,6933,0,3475831966,1,[],[],[]
9,6933,0,5164695129,1,[],[],[]
10,6933,0,5168553251,1,[],[],[]
11,6933,0,6317644127,1,[],[],[]
12,6933,0,6462648769,1,[],[],[]
13,6933,0,6464746963,1,[],[],[]
14,6933,0,6467965956,1,[],[],[]
15,6933,0,7184147518,1,[],[],[]
16,6933,0,7185105444,1,[],[],[]
17,6933,0,7187598415,1,[],[],[]
18,6933,0,7188015067,1,[],[],[]
19,6933,0,7377048572,1,[],[],[]
20,6933,0,8483320586,1,[8483320586],[Guy Davis],[]
21,6933,0,8622186753,1,[],[],[]
22,6933,0,9174858774,2,[],[],[]
23,6933,0,9175471652,1,[],[],[]
24,6933,0,9175679027,1,[],[],[]
25,6933,0,9176174641,1,[9176174641],[Chester Fields],[]
26,6933,0,9178212968,1,[],[],[]
27,6933,0,9178639917,1,[],[],[]
28,6933,0,9179385753,1,[],[],[]
29,6933,0,9736530123,1,[],[],[]
30,7930,35,7576195018,1,[7576195018],[Beverly Jackson],[]
31,7930,35,7578050390,1,[7578050390],[Beverly Dennison],[]
32,7930,35,7579177894,1,[7579177894],[Delores Venton],[]
33,7930,0,3157174669,1,[],[],[]
34,7930,0,3252770315,1,[],[],[]
35,7930,0,4145393306,1,[],[],[]
36,7930,0,4147634640,1,[4147634646],[Roosevelt Holt],[]
37,7930,0,7572188526,1,[],[],[]
38,7930,0,7577754726,1,[],[],[]
39,11888,0,2409200270,1,[],[],[]
40,11888,0,5416339588,1,[],[],[]

## AF Messages

AF message callerids/accts with messages

In [13]:
having: str = "--sql\n HAVING ARRAY_LENGTH(ARRAY_REMOVE(ARRAY_AGG(reference), NULL), 1) != 0"
cmnt: str = 'ANSWER FIRST MESSAGES'

query = af_msg_query.format(
    having=having,
    cmnt=cmnt,
    date_min=date_min,
    date_lmt=date_lmt
)

df_af: Df
with db.connect() as conn:
    df_af = pd.read_sql_query(query, conn)

df_af['practice_id'] = df_af['practice_id'].fillna(0).astype('int16')
ts: str = datetime.now().strftime(tmstmp_fmt)[0:10].replace('-', '')

In [14]:
df_af

,acct,practice_id,callerid,calls,phone,caller_name,reference
0,6933,191,2722018500,1,[2722018500],[Peter Wilson],[Please call to provide more information ASAP.]
1,6933,191,3472004228,1,[3472004228],[Michael Riley],[Please verify the time of my up-coming appoin...
2,6933,191,3476074608,1,[3476074608],[Ali Cameron],[Ali has some questions regarding cost and ins...
3,6933,191,3478463571,1,[3478463571],[Fadian Witter],[He said he is not having good blood flow and ...
4,6933,191,3479967152,1,[3479967152],[Henry Foreshaw],[He is interested.]
5,6933,191,6026260523,1,[6026260523],[Norma Hamilton],[Caller is requesting a call back to obtain pr...
6,6933,191,6462703583,1,[6462703583],[Harry Riboul],[He would like to speak with somebody to see i...
7,6933,191,6464746963,1,[6464746963],[Maurice Satchell],[He would like to speak to someone about his E...
8,6933,191,6465795704,1,[6465795704],[Jay Richards],[Please call me.]
9,6933,191,8626682241,1,[8626682241],[Randy Jackson],[Caller wanted to get more information on serv...
10,6933,191,9178644238,1,[9178644238],[James],[Interested in your services.]
11,6933,193,8484688256,1,[8484688256],[Geraldo Garcia],[Geraldo is calling for more information.]
12,6933,193,8623382106,1,[8623382106],[Reggie Qualls],[Reggie is calling for more information.]
13,6933,193,9088383661,1,[9088383661],[Germain],[Caller would like more information on your pr...
14,6933,193,9148004991,1,[9148004991],[Donald Green],[I'm interested in the ED treatments.]
15,7930,34,2623449590,1,[2623449590],[Rachel Lynn],[She was wanting to schedule an appointment.]
16,7930,34,4142494737,1,[4143345169],[Jason Wells],[He never received a callback so he is followi...
17,7930,34,4145096073,1,[4145096073],[Nancy Haro],[She is calling in regards to the commercial s...
18,7930,34,4145956039,1,[4145956039],[Jerry Lewis],[He is having nerve pain.]
19,7930,34,4147634640,1,[4147634646],[Roosevelt Holt],[He wanted more information.]
20,7930,0,4693058196,1,[4693058196],[Roy Harris],[He is calling to see if neuropathy is affili...
21,9816,122,3172220597,1,[3172220597],[Juliana Lenzly],[She called yesterday and now is calling about...
22,9816,122,3172514507,1,[3172514507],[Victoria Hudson],[Regarding questions about medication.]
23,9816,122,3179399694,1,[3179399694],[Bobbie Burris],[Ms. Burris is seeking further information in ...
24,9816,122,8127991579,1,[8127991579],[Ellie Ault],[She is curious about the weight loss program.]
25,9816,0,3415009930,1,[3415009930],[Carolyn Chavez],[What time will she be picked up on Tuesday th...
26,9816,0,7575613194,1,[7575613194],[Jerry Blunt],[Regarding what he seen on the commercial.]

In [36]:
with db.connect() as conn:
    mj_df = pd.read_sql_query(Path('./master_join.pgsql').read_text(), conn)

In [37]:
mj_df

,att_callerid,af_callerid,toll,af_acct,practice_id,att_fwd,att_connections,af_connections,att_durations,att_ids,af_ids,af_typed,af_msg_besttimes,af_msg_emailed,af_msg_caller_name,af_msg_given_phones,af_msg_given_emails,af_msg_given_addr_state,af_msg_bodies
0,2024921100,NaN,8002100119,NaN,NaN,3083044768,1,NaN,[50],[2865243],None,None,None,None,None,None,None,None,None
1,2034495733,2.034496e+09,8004520236,6933.0,NaN,3083044852,1,1.0,[11],[2865305],[40911322],[False],None,None,None,None,None,None,None
2,2036275034,2.036275e+09,8004520236,6933.0,NaN,3083044852,2,2.0,"[25, 125]","[2865269, 2865273]",[40898682],"[False, False]",None,None,None,None,None,None,None
3,2107070903,NaN,8005871462,NaN,NaN,3073421963,2,NaN,"[4, 4]","[2865251, 2865267]",None,None,None,None,None,None,None,None,None
4,2124702096,NaN,8004520236,NaN,NaN,3083044852,1,NaN,[0],[2865313],None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,9495252545,NaN,8008097865,NaN,NaN,3083043434,1,NaN,[4],[2865329],None,None,None,None,None,None,None,None,None
128,9733935799,NaN,8004520236,NaN,NaN,3083044852,1,NaN,[0],[2865312],None,None,None,None,None,None,None,None,None
129,9734623332,NaN,8004521596,NaN,NaN,3075095680,1,NaN,[0],[2865344],None,None,None,None,None,None,None,None,None
130,9736530123,9.736530e+09,8004521596,6933.0,NaN,3075095680,1,1.0,[12],[2865361],[40918795],[False],None,None,None,None,None,None,None
131,9736981210,NaN,8004521596,NaN,NaN,3075095680,1,NaN,[0],[2865308],None,None,None,None,None,None,None,None,None

In [40]:
file_lab = 'master_join'
# xl = pd.ExcelWriter(f'{file_lab}.xlsx', 'openpyxl', mode='w')
# mj_df.to_excel(xl, 'med_master_join', index=False)
mj_df.to_csv(f'{file_lab}.csv', index=False, encoding='utf-8')