# Headers/Startup

In [1]:
import logging
import dotenv
from os import system
dotenv.load_dotenv()

import pandas as pd
from db_engines import wh_db as db
# for verifying DB updates

from datetime import datetime
tmstmp_fmt: str = r'%Y-%m-%d %H:%M:%S'
query_date_fmt: str = r'%Y-%m-%d'

from pathlib import Path

import pandas as pd
from pandas import Series as Ser, DataFrame as Df


def stamp() -> str:
    # print(f"\x1b[95m{datetime.now().strftime(tmstmp_fmt)}\x1b[0m")
    return f"\x1b[95m{datetime.now().strftime(tmstmp_fmt)}\x1b[0m"
    # return f"\x1b[95m{datetime.now().date().strftime(r'%Y.%m.%d')}\x1b[0m"

today: str = datetime.now().strftime(query_date_fmt)


print(stamp())
skip_hs = True

2022-10-25 10:13:50

In [2]:
date_min: str = '2022-10-21'  # yesterday or fri before mon
date_lmt: str = '2022-10-24'  # usually today

In [3]:
# TODO SCRIPT CHECKING MTIMES FOR SUBSCRIPTION FILES TO VERIFY THEY'RE FLOWING

In [3]:
# check for active connections, else raise exception and bail
from db_engines import wh_db, mms_db, check_connection, MySQL_OpErr
print(stamp())

for d in wh_db, mms_db:
    try:
        check_connection(d)
    except MySQL_OpErr:
        raise Exception(f"\x1b[91mSEE BELOW/ABOVE\x1b[0m\n")
    else:
        pass

del wh_db, mms_db, check_connection, MySQL_OpErr

2022-10-25 10:13:59
Checking Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr) -->
	('Hello There',)
--> Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr) ✔️

Checking Engine(mysql+mysqldb://evan:***@127.0.0.1:3306/dmp) -->
	('Hello There',)
--> Engine(mysql+mysqldb://evan:***@127.0.0.1:3306/dmp) ✔️

# ETL Scripts

## Dim Tbls

## Fact Tbls

In [4]:
# att from mms MySQL
%run ./etl_mms_att.py
%run ./etl_af.py

Successfully loaded att_data to Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr)
Successfully loaded af_message_data to Engine(postgresql://pmrprt:***@127.0.0.1:55432/medmstr)

In [5]:
"""--sql
-- Active: 1664298180406@@127.0.0.1@55432@medmstr
WITH
    p AS (
        SELECT *
        FROM att_data
        WHERE
            connected < '2022-10-24'
            AND
            connected >= '2022-10-21'
    ),
    m AS (
        SELECT *
        FROM af_message_data
        WHERE
            connected < '2022-10-24'
            AND
            connected >= '2022-10-21'
    ),
    joined AS (
        SELECT
            m.callerid, ARRAY_AGG(DISTINCT(p.id))
            AS att_data_id, ARRAY_AGG(DISTINCT(m.recording_id))
            AS message_ids
        FROM
            m
            LEFT JOIN
            p
            ON m.callerid = p.number_orig
        GROUP BY m.callerid
    )
SELECT * from joined
; -- ATT CALLS NOT IN ANSWER FIRST CALLER ID
"""

"--sql\n-- Active: 1664298180406@@127.0.0.1@55432@medmstr\nWITH\n    p AS (\n        SELECT *\n        FROM att_data\n        WHERE\n            connected < '2022-10-24'\n            AND\n            connected >= '2022-10-21'\n    ),\n    m AS (\n        SELECT *\n        FROM af_message_data\n        WHERE\n            connected < '2022-10-24'\n            AND\n            connected >= '2022-10-21'\n    ),\n    joined AS (\n        SELECT\n            m.callerid, ARRAY_AGG(DISTINCT(p.id))\n            AS att_data_id, ARRAY_AGG(DISTINCT(m.recording_id))\n            AS message_ids\n        FROM\n            m\n            LEFT JOIN\n            p\n            ON m.callerid = p.number_orig\n        GROUP BY m.callerid\n    )\nSELECT * from joined\n; -- ATT CALLS NOT IN ANSWER FIRST CALLER ID\n"

# Queries

In [6]:
def query_export(query_: str, out_: Path):
    df_: Df
    with db.connect() as conn:
        df_ = pd.read_sql_query(query_, conn)
    
    ts: str = datetime.now().strftime(tmstmp_fmt) [0: 10].replace('-', '')

    df_.to_csv(out_, index=False, encoding='utf-8')
    return

In [7]:
af_msg_query: str = """--sql
    WITH
        m AS (
            SELECT *
            FROM af_message_data
            WHERE
                connected < '{date_lmt}'
                AND
                connected >= '{date_min}'
        )
    SELECT
        acct,
        practice_id,
        callerid,
        COUNT(connected) AS calls,
        -- ONLY SHOW UNIQUE NAME AND PHONE NUMBER PER CALLERID/ACCT
        ARRAY_REMOVE(ARRAY_AGG(DISTINCT(REPLACE(phone, '-', '')::BIGINT))::BIGINT[], NULL) AS phone,
        ARRAY_REMOVE(ARRAY_AGG(DISTINCT(caller_name)), NULL) AS caller_name,
        -- AGG ALL REFERENCE (messages)
        ARRAY_REMOVE(ARRAY_AGG(reference), NULL) AS reference
    FROM m
    -- ignore dupes within same account from same caller
    GROUP BY acct, practice_id, callerid
    -- EMPTY TEXT ARRAY IF ALL NULLS REMOVED
    {having}
    ; -- {cmnt}
"""

## ATT

Phone numbers that don't match any AF message caller ids.

In [8]:
query = f"""--sql
    WITH
        p AS (
            SELECT *
            FROM att_data
            WHERE
                connected < '{date_lmt}'
                AND
                connected >= '{date_min}'
        ),
        m AS (
            SELECT *
            FROM af_message_data
            WHERE
                connected < '{date_lmt}'
                AND
                connected >= '{date_min}'
        ),
        joined AS (
            SELECT
                m.callerid,
                array_agg(p.id) AS att_data_id,
                array_agg(m.recording_id) AS messages
            FROM
                m
                LEFT JOIN
                p
                ON m.callerid = p.number_orig
            GROUP BY m.callerid
        )
    SELECT
        number_orig,
        number_dial,
        number_term
    FROM p
    WHERE id NOT IN (SELECT UNNEST(att_data_id) FROM joined)
    GROUP BY number_orig, number_dial, number_term
    ; -- ATT CALLS NOT IN ANSWER FIRST CALLER ID
"""

df_att_extras: Df
with db.connect() as conn:
    df_att_extras = pd.read_sql_query(query, conn)

ts: str = datetime.now().strftime(tmstmp_fmt)[0:10].replace('-', '')

In [9]:
df_att_extras

    number_orig  number_dial  number_term
0    9088872446   8004521596   3075095680
1    6785081059   8007495780   3074753552
2    6462760008   8004520236   3083044852
3    8482612876   8004521596   3075095680
4    8643807948   8005543775   3072249255
..          ...          ...          ...
59   8665427774   8009056878   3083301775
60   5744576010   8004266990   3073421716
61   9173371836   8004521596   3075095680
62   9177765860   8004521596   3075095680
63   3033962318   8002372199   3073424015

[64 rows x 3 columns]

## AF Discards

AF message callerids/accts with no message

In [10]:
having: str = "--sql\n HAVING ARRAY_REMOVE(ARRAY_AGG(reference), NULL) = ARRAY[]::TEXT[]"
cmnt: str = 'ANSWER FIRST DISCARDED MESSAGES'

query = af_msg_query.format(
        having=having,
        cmnt=cmnt,
        date_min=date_min,
        date_lmt=date_lmt
    )


df_af_blank: Df
with db.connect() as conn:
    df_af_blank = pd.read_sql_query(query, conn)

df_af_blank['practice_id'] = df_af_blank['practice_id'].fillna(0).astype('int16')
ts: str = datetime.now().strftime(tmstmp_fmt)[0:10].replace('-', '')

In [11]:
df_af_blank.drop(columns='reference')

     acct  practice_id    callerid  calls         phone         caller_name
0    6933            0  2034495733      1            []                  []
1    6933            0  2036275034      1            []                  []
2    6933            0  2488736162      1            []                  []
3    6933            0  3472456899      1            []                  []
4    6933            0  3472852127      1            []                  []
5    6933            0  3473925479      1            []                  []
6    6933            0  3474789614      1            []                  []
7    6933            0  3474790158      1            []                  []
8    6933            0  3475831966      1            []                  []
9    6933            0  5164695129      1            []                  []
10   6933            0  5168553251      1            []                  []
11   6933            0  6317644127      1            []                  []
12   6933            0  6462648769      1            []                  []
13   6933            0  6464746963      1            []                  []
14   6933            0  6467965956      1            []                  []
15   6933            0  7184147518      1            []                  []
16   6933            0  7185105444      1            []                  []
17   6933            0  7187598415      1            []                  []
18   6933            0  7188015067      1            []                  []
19   6933            0  7377048572      1            []                  []
20   6933            0  8483320586      1  [8483320586]         [Guy Davis]
21   6933            0  8622186753      1            []                  []
22   6933            0  9174858774      2            []                  []
23   6933            0  9175471652      1            []                  []
24   6933            0  9175679027      1            []                  []
25   6933            0  9176174641      1  [9176174641]    [Chester Fields]
26   6933            0  9178212968      1            []                  []
27   6933            0  9178639917      1            []                  []
28   6933            0  9179385753      1            []                  []
29   6933            0  9736530123      1            []                  []
30   7930           35  7576195018      1  [7576195018]   [Beverly Jackson]
31   7930           35  7578050390      1  [7578050390]  [Beverly Dennison]
32   7930           35  7579177894      1  [7579177894]    [Delores Venton]
33   7930            0  3157174669      1            []                  []
34   7930            0  3252770315      1            []                  []
35   7930            0  4145393306      1            []                  []
36   7930            0  4147634640      1  [4147634646]    [Roosevelt Holt]
37   7930            0  7572188526      1            []                  []
38   7930            0  7577754726      1            []                  []
39  11888            0  2409200270      1            []                  []
40  11888            0  5416339588      1            []                  []

## AF Messages

AF message callerids/accts with messages

In [12]:
having: str = "--sql\n HAVING ARRAY_LENGTH(ARRAY_REMOVE(ARRAY_AGG(reference), NULL), 1) != 0"
cmnt: str = 'ANSWER FIRST MESSAGES'

query = af_msg_query.format(
    having=having,
    cmnt=cmnt,
    date_min=date_min,
    date_lmt=date_lmt
)

df_af: Df
with db.connect() as conn:
    df_af = pd.read_sql_query(query, conn)

df_af['practice_id'] = df_af['practice_id'].fillna(0).astype('int16')
ts: str = datetime.now().strftime(tmstmp_fmt)[0:10].replace('-', '')

In [1]:
df_af

NameError: name 'df_af' is not defined